:root {
  background-color: #000913f3;
  color: bisque
}

::-webkit-scrollbar-track {
  background:#374151;
  border-radius: 10px;
}
::-webkit-scrollbar {
 background-color:#1f2937;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#1f2937;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


