:root {
  background-color: #001E0E;
  color: bisque
}

::-webkit-scrollbar-track {
  background:#001E0E;
  border-radius: 10px;
}
::-webkit-scrollbar {
 background-color: #001E0E;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #001E0E;
}

@tailwind base;
@tailwind components;
@tailwind utilities;